@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animation {
    @apply transition-all duration-100 ease-in-out;
  }
  .logo-color {
    background: -webkit-linear-gradient(44deg, #d69b34 10.2%, #e8be76 28.24%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .button-primary {
    @apply animation flex h-[40px]  items-center justify-center gap-2 rounded-xl bg-primary-900 px-5 text-[16px] font-bold text-background-light hover:bg-primary-200 hover:text-primary-900 active:text-primary-300 disabled:bg-primary-200 disabled:text-primary-500 max-lg:text-[14px];
  }
  .button-secondary {
    @apply animation flex h-[40px] items-center justify-center gap-2 rounded-xl border-[1px] border-accent-light px-5 text-[16px] font-bold text-primary-900 hover:border-transparent hover:bg-primary-200 hover:text-primary-900 active:border-transparent active:text-primary-300 max-lg:text-[14px];
  }
  .button-tertiary {
    @apply animation flex h-[40px] items-center justify-center gap-2 rounded-xl bg-text-black px-5 text-[16px] font-bold text-background-light hover:bg-slate-500 hover:text-background-light active:border-transparent active:bg-slate-300 max-lg:text-[14px];
  }
  .button-danger {
    @apply animation flex h-[40px] items-center justify-center gap-2 rounded-xl bg-danger-light px-5 text-[16px] font-bold text-background-light hover:text-background-light hover:opacity-80 active:border-transparent active:opacity-30 max-lg:text-[14px];
  }
  .input {
    @apply block w-full rounded-xl bg-input-light py-[9px] pl-4 text-sm outline-2 placeholder:text-text-gray;
  }
  .label {
    @apply mt-5 block pb-3 text-xs font-medium text-text-gray;
  }
  .max-width {
    @apply w-full max-w-[1048px];
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
